/* Your code here */
body {
  background-image: url(space-bg.png);
  background-size: 1475px 850px;
  background-repeat: no-repeat;
}

.sb {
  justify-content: space-around;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  color: rgb(13, 12, 12);
  display: flex;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
  margin-bottom: 50px;
  padding: 10px 20px;
}

.grid {
  display: grid(2, 4);
}

.wgs {
  display: inline-block;
  position: relative;
  height: 241px;
  width: 320px;
  overflow: hidden;
}

.alien1 {
  position: absolute;
  right: 54.5px;
  left: 77.5px;
  height: 188px;
  width: 188px;
  transition: margin-top 0.25s;
}

.alien2 {
  position: absolute;
  right: 54.5px;
  left: 77.5px;
  height: 188px;
  width: 188px;
  transition: margin-top 0.25s;
}

.alien2 {
  position: absolute;
  right: 54.5px;
  left: 77.5px;
  height: 188px;
  width: 188px;
  transition: margin-top 0.25s;
}

.alien2 {
  position: absolute;
  right: 54.5px;
  left: 77.5px;
  height: 188px;
  width: 188px;
  transition: margin-top 0.25s;
}

.alien3 {
  position: absolute;
  right: 54.5px;
  left: 77.5px;
  height: 188px;
  width: 188px;
  transition: margin-top 0.25s;
}

.alien4 {
  position: absolute;
  right: 54.5px;
  left: 77.5px;
  height: 188px;
  width: 188px;
  transition: margin-top 0.25s;
}

.alien5 {
  position: absolute;
  right: 54.5px;
  left: 77.5px;
  height: 188px;
  width: 188px;
  transition: margin-top 0.25s;
}

.alien6 {
  position: absolute;
  right: 54.5px;
  left: 77.5px;
  height: 188px;
  width: 188px;
  transition: margin-top 0.25s;
}

.alien7 {
  position: absolute;
  right: 54.5px;
  left: 77.5px;
  height: 188px;
  width: 188px;
  transition: margin-top 0.25s;
}

.alien8 {
  position: absolute;
  right: 54.5px;
  left: 77.5px;
  height: 188px;
  width: 188px;
  transition: margin-top 0.25s;
}


.alien-hidden {
 margin-top: 241px;
}

.ufo {
  position: absolute;
  height: 155px ;
  width: 325px ;
  top: 115px;
}





/* UNCOMMENT THE CODE BELOW WHEN DIRECTED */
/* .sb {
  background-color: cornflowerblue;
  border-bottom: 1px solid #645DED;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  color: white;
  display: flex;
  font-size: 30px;
  margin-bottom: 50px;
  padding: 10px 20px;
} */

/* .sb__mole-counter {
  flex: 1 0 0;
  text-align: right;
} */

/* .sb__score-holder {
  flex: 1 0 0;
} */

/* .sb__game-over--hidden {
  display: none;
} */
